<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'/>
</head>
<body>
  <p>
    Dear <%= @host_name %>,
  </p>
  <p>
    Your property, <%= @property_name %> has been requested for a reservation by <%= @traveler_name %> for the dates of <%= @start_date %> to <%= @end_date %>. To review and manage your reservation requests, visit http://home-away.herokuapp.com<%= my_guests_path %>.
  </p>
  <p>
    Best Regards,
  </p>
  <p>
    --HomeAway
  </p>
</body>
</html>
