<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'/>
</head>
<body>
  <h1>Dear <%= @traveler_name %>,</h1>
  <p>
    Your host, <%= @host_name %>, has approved your reservation at <%= @property_name %> for the dates of <%= @start_date %> to <%= @end_date %>. Enjoy your stay!
  </p>
  <p>
    View your reservations details at http://travel-home.herokuapp.com/reservations/<%= @id %>
  </p>
  <p>
    Best Regards,
  </p>
  <p>
    --TravelHome
  </p>
</body>
</html>
