<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'/>
</head>
<body>
  <p>
    Dear <%= @traveler_name %>,
  </p>
  <p>
    We have received your request for a reservation at <%= @property_name %> for the dates of <%= @start_date %> to <%= @end_date %>. The owner of the property has been notified of your request and will get back to you soon.
  </p>
  <p>
    Reservation total: $<%= @total %>
  </p>
  <p>
    Nightly rate: $<%= @price %>
  </p>
  <p>
    Other reservation details: http://home-away.herokuapp.com/reservtions/<%= @id %>
  </p>
  <p>
    Best Regards,
  </p>
  <p>
    --HomeAway
  </p>
</body>
</html>
