
<div class="functional-header">
  <header class="reservation-menu">
    <div class="row">
      <div class="col-md-8">
        <div class="profile-header brand-box">
          <h1 class="reservation-header brand-heading">My Trip: <span>step 1</span></h1>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="container">
  <div class="row">
  <% if @cart.empty? %>
    <div class="col-md-12">
      <h3>You haven't added any properties to your Trip</h3>
    </div>
  </div>
  <% else %>
    <div class="col-md-8">
      <%= render partial: 'partials/listing', locals: {property: @cart.property} %>
    </div>

    <div class="col-md-3">
      <div class="listing">
        <dl>
          <dt>Reservation dates</dt>
            <dd>From: <%= @cart.pretty_start_date %></dd>
            <dd>To: <%= @cart.pretty_end_date %></dd>
          <dt>Total cost<dt>
            <dd><%= number_to_currency(@cart.total) %></dd>
        </dl>
        <% if !current_user %>
          <span class="label-notice">To continue your reservation you will need to log in to your account or sign up for a new account</span>
          <hr>
          <div class="row">
            <div class="col-md-5">
              <a href="#" data-toggle="modal" data-target="#myModalLogIn" class="btn btn-default">Log In</a>
            </div>
            <div class="col-md-2 label-status"> or </div>
            <div class="col-md-5">
              <%= render partial: "partials/sign_up" %>
            </div>
          </div>
        <% else %>
          <span class="label-notice">Please review your trip details and click below to continue your reservation</span>
        <hr>
          <% if @host && @host.accepts_cc %>
            <%= form_tag({controller: "reservations", action: "pay"}, method: "post", class: "payments") do %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="TravelHome"
              data-amount="<%= @cart.total_cents %>"></script>
            <% end %>
          <% else %>
            <%= button_to "Pay with Cash", reservations_path, method: :post, class: "btn btn-default"  %>
          <% end %>
        <% end %>
        <hr>
          <%= button_to "Cancel My Trip", cart_path, method: :delete, class: "btn btn-default btn-xs" %></li>
          <% end %>
      </div>
    </div>

</div>


