<div class="container">
  <h1>My Trip</h1>
  <% if @cart.empty? %>
    <h3>You haven't added any properties to your Trip</h3>
  <% else %>
    <%= render partial: "partials/property", locals: {property: @cart.property } %>
    <h5>Desired reservation dates</h5>
    <p>From: <%= @cart.start_date %></p>
    <p>To: <%= @cart.end_date %></p>
    <h5>Total Cost</h5>
    <p>Total: <%= number_to_currency(@cart.total) %></p>
    <% if current_user %>
      <h5>Please review your trip details and click below to continue your reservation</h5>
      <% if @host && @host.accepts_cc %>
        <%= form_tag({controller: "reservations", action: "pay"}, method: "post") do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="TravelHome"
            data-amount="<%= @cart.total_cents %>"></script>
        <% end %>
      <% else %>
        <%= button_to "Pay with Cash", reservations_path, method: :post, class: "btn btn-default"  %>
      <% end %>
    <% else %>
      <h5>To continue your reservation you will need to log in to your account or sign up for a new account</h5>
      <a href="#" data-toggle="modal" data-target="#myModalLogIn" class="btn btn-default">
        Log In
      </a>
      <%= render partial: "partials/sign_up" %>
    <% end %>
  <% end %>
  <%= button_to "Cancel My Trip", cart_path, method: :delete, class: "btn btn-default" %>
</div>
