
<div class="functional-header">
  <header class="reservation-menu">
    <div class="row">
      <div class="col-md-8">
        <div class="profile-header brand-box">
          <h1 class="reservation-header brand-heading">My Trip: <span>step 1</span></h1>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="container">
  <div class="row">
  <% if @cart.empty? %>
    <div class="col-md-12">
      <h3>You haven't added any properties to your Trip</h3>
    </div>
  <% else %>
    <div class="col-md-3">
      <div class="cart-block">
        <% if current_user %>
          <span class="label-notice">Please review your trip details and click below to continue your reservation</span>
        <hr>
        <%= button_to "Request Reservation", reservations_path, method: :post, class: "btn btn-default"  %><br>
      <% else %>
          <span class="label-notice">To continue your reservation you will need to log in to your account or sign up for a new account</span>
        <hr>
        <div class="row">
          <div class="col-md-5">
            <a href="#" data-toggle="modal" data-target="#myModalLogIn" class="btn btn-default">Log In</a>
          </div>
          <div class="col-md-2 label-status"> or </div>
          <div class="col-md-5">
            <%= render partial: "partials/sign_up" %>
          </div>
    </div>
      <% end %>
      <hr>
        <%= button_to "Cancel My Trip", cart_path, method: :delete, class: "btn btn-default btn-xs" %></li>
      </div>
    </div>
  <% end %>

  <div class="col-md-8">
    <div class="cart-block">
      <div class="col-md-5">
        <h4>Reservation</h4>
        <dl>
          <dt>Reservation dates</dt>
          <dd>From: <%= @cart.pretty_start_date %></dd>
          <dd>To: <%= @cart.pretty_end_date %></dd>
          <dt>Total cost<dt>
          <dd><%= number_to_currency(@cart.total) %></dd>
        </dl>
      </div>
      <div class="col-md-5">
        <h4>Property</h4>
        <dl>
          <dt><%= @cart.property.title %></dt>
          <dt>Type</dt>
          <dd><%= @cart.property.category.name %></dd>
          <dt>Location</dt>
          <dd><%= @cart.property.location %></dd>
        </dl>
      </div>
      <div class="col-md-2">
        <%= image_tag @cart.property.primary.image.url(:thumb) %>
      </div>
    </div>
  </div>
</div>


