<div class="sidenav">
    <ul class="nav nav-pills nav-stacked sidenav" id="sidebar">
      <% @categories.each do |category| %>
        <!-- <li class="menu-link"><a href="#category-id-<%= category.id %>"><%= category.name %></a></li> -->
        <!-- <li class="menu-link"><%= link_to category.name, "#category-id-#{category.id}" %></li> -->
        <li class="menu-link"><a href="#category-id-<%= category.id %>"><%= category.name %></a></li>
      <% end %>
    </ul>
</div>
