<% cache host_requests do  %>
	<% host_requests.each do |host_request| %>
		<% cache host_request do %>
		  <div class="listing">
		    User: <%= host_request.user.name %><br>
		    User's email: <%= host_request.user.email_address %><br>
		    Message: <%= host_request.message %><br>
		    <%= link_to "Accept request", "/user/#{host_request.user_id}/become_host", method: :post, class: "btn btn-default" %>
		    <%= link_to "Deny request", host_request_path(host_request), method: :delete, class: "btn btn-default" %>
		  </div>
		<% end %>
	<% end %>
<% end %>
