<div class="row">
  <div class="longer-profile-block">
    <h2>Other Properties I Manage</h2>
    <% if current_user.partner_reservations > 0 %>
      <%= link_to "Manage reservation requests (#{current_user.partner_reservations})", partner_guests_path %>
    <% else %>
      <%= link_to "Manage reservation requests", partner_guests_path %>
    <% end %>
    <hr>
    <table class="table table-striped">

      <thead>
        <tr>
          <th>Property name</th>
          <th>Category</th>
          <th>Daily rate</th>
          <th>Location</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @user.owners.each do |partner| %>
          <% partner.properties.each do |property| %>
            <tr class="property_<%= property.id %>">
              <td><%= link_to "#{property.title}", property_path(property) %></td>
              <td><%= property.category.name %></td>
              <td>$<%= property.price %></td>
              <td><%= property.location %></td>
              <td><% if property.retired? %>Retired<% else %>Active<% end %></td>
              <td><%= link_to "Edit", edit_property_path(property) %> |
                <% if property.retired? %>
                <%= link_to "Activate", property_path(property, property: {retired: false}), method: "put" %> |
                <% else %>
                <%= link_to "Retire", property_path(property, property: {retired: true}), method: "put" %> |
                <% end %>
                <%= link_to "Manage photos", property_photos_path(property) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
