<div class="container menu-items-block col-md-9">
  <% @categories.each do |category| %>
    <div class="category-block row">

      <div class= "category-title">
        <h2 class="menu-category shadow"><span class="anchor" id="category-id-<%= category.id %>"></span><%= category.name %></h2>
      </div>

        <% category.items.active.each do |item| %>
          <div class="thumbnail col-sm-6 col-md-4">
            <%= link_to (image_tag item.image.url(:medium)), item_path(item) %>
            <div class="caption">
              <h3 class="shadow"><%= item.title %></h3>
              <p class="shadow"><%= item.description %></p>
              <p id="price" class="shadow"> Price:$<%= item.price %></p>
              <p><%= link_to "Add to Cart", cart_items_path(item: item), method: :post, class: "btn btn-default add-to-cart", role: "button" %></p>

            </div>
          </div>
        <%end%>

    </div>
  <%end%>
</div>
