<nav class="navbar custom-color navbar-inverse" role="navigation" data-spy="affix-top">
  <div>
    <ul class="main-nav nav navbar-nav">
      <li class="navbar-links"><a href="/">Menu</a></li>
    </ul>

    <div class="navbar-form navbar-right">
      <div id="account">
        <%= link_to cart_items_path, class: "btn btn-success" do %>
          <span class="glyphicon glyphicon-shopping-cart">Cart</span>
        <% end %>
        <!-- <a class="btn btn-success" action="<%= cart_items_path %>"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a> -->
        <% if current_user  %>
          <%= link_to "Logout", logout_path, method: :delete,  class: "btn btn-default" %>
        <% else %>
          <%= link_to "Sign Up", new_user_path, class: "btn btn-default" %>
          <%= form_tag login_path, class: "navbar-form navbar-right" do %>
            <%= text_field_tag :email_address, nil, placeholder: "email address", class: "form-control navbar_style" %>
            <%= password_field_tag :password, nil, placeholder: "password", class: "form-control navbar_style" %>
            <%= submit_tag "Login!" , class: "btn btn-default navbar_style" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
