<nav class="navbar custom-color navbar-inverse" role="navigation" data-spy="affix-top">
  <div class="container-fluid">
    <ul class="main-nav nav navbar-nav">
      <li class="navbar-links"><a href="/">Home</a></li>
      <li class="navbar-links"><a href="#">About Us</a></li>
      <li class="navbar-links"><a href="/menu">Menu</a></li>
      <li class="navbar-links"><a href="#">Location</a></li>
      <li class="navbar-links"><a href="#">Contact Us</a></li>
    </ul>

    <div class="navbar-form navbar-right">
      <button class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</button>
      <div id="account">
        <% if current_user  %>
          <%= link_to "Logout", logout_path, method: :delete,  class: "btn btn-default" %>
        <% else %>
          <%= link_to "Sign Up", new_user_path, class: "btn btn-default" %>

          <%= form_tag login_path, class: "navbar-form navbar-right" do %>
            <%= text_field_tag :email_address, nil, placeholder: "username", class: "form-control" %>
            <%= password_field_tag :password, nil, placeholder: "password", class: "form-control" %>
            <%= submit_tag "Login!" , class: "btn btn-default" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
