<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      <i class="fa fa-bars"></i>
    </button>
    <a class="navbar-brand page-scroll" href="<%= root_path %>">
      <i class="fa fa-globe"></i><span class="light">Travel</span>Home
    </a>
  </div>

  <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
    <ul class="nav navbar-nav">
      <li class="hidden">
      <a href="#page-top"></a>
      </li>
      <li>
      <a class="page-scroll" href="#about">About</a>
      </li>
      <li>
      <a href="<%= properties_path %>">Properties</a>
      </li>
      <% if current_user %>
        <li><%= link_to "My Reservations", reservations_path %></li>
        <li><%= link_to "Logout", logout_path, id: 'logout', method: 'delete' %></li>
      <% else %>
        <li><%= render partial: 'partials/log_in' %></li>
        <li><%= render partial: 'partials/sign_up' %></li>
      <% end %>
    </ul>
  </div>
</div>
</nav>

