<table class="table table-hover">
  <thead>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </thead>
  <tbody>
    <% order.items.uniq.each do |item| %>
    <tr class="cart_item cart_item_<%= item.id %>">
      <td class="title"><%= link_to item.title, item_path(item) %></a></td>
      <td class="price">$<%= item.price %></td>
      <td class="quantity">
        <%= button_to admin_order_path(order), method: :put, class: "btn btn-xs decrease float_left", name: "decrease", value: "#{item.id}" do %>
        <span class="glyphicon glyphicon-minus"></span>
        <% end %>
        <div class="float_left"><%= item.quantity %></div>
        <%= button_to admin_order_path(order), method: :put, class: "btn btn-xs increase float_left", name: "increase", value: "#{item.id}" do %>
        <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </td>
      <td class="subtotal">$<%= order.subtotal(item) %></td>
      <td> <%= button_to admin_order_path(order), method: :delete, name: :remove, name: "remove", value: "#{item.id}" do %>
        <span>Remove</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Status: <%= order.status %></td>
      <td>Ordered: <%= order.created_at %></td>
      <td>Updated: <%= order.updated_at %></td>
      <td>Total: $<%= order.total %></td>
    </tr>
  </tfoot>
</table>
