<br>
<br>
<br>
<br>
<br>
<h1>Your Reservation</h1>
<h2><%= link_to reservation.property.title, property_path(reservation.property) %></h2>
<h3>Status: <%= reservation.status %></h3>
<h5>Location: <%= reservation.property.location %></h5>
<h5>Category: <%= reservation.property.category.name %></h5>
<h5>Description: <%= reservation.property.description %></h5>
<h5>From <%= reservation.start_date.strftime("%B %d, %Y") %> to <%= reservation.end_date.strftime("%B %d, %Y") %></h5>
<h5>Length of Stay: <%= reservation.duration.floor %> days</h5>
<h5>Total: <%= number_to_currency(reservation.total) %></h5>

<% unless reservation.cancelled? %>
  <%= button_to admin_reservation_path(reservation), method: :delete, name: :remove, name: "remove", value: "#{reservation.property.id}" do %>
    <span>Cancel Reservation</span>
  <% end %>
<% end %>
<h5>Reserved on <%= reservation.created_at.strftime("%B %d, %Y at %l:%M %P") %></h5>
<h5>Last updated on <%= reservation.updated_at.strftime("%B %d, %Y at %l:%M %P") %></h5>
