<% cache reservation do  %>
  <div class="row">
    <div class="col-md-8">
      <% if !current_user_is_admin %>
        <h2>Your <%= link_to reservation.property.title, property_path(reservation.property) %> Reservation</h2>
      <% else %>
      <h2><%= link_to reservation.user.name, user_path(reservation.user) %>'s <%= link_to reservation.property.title, property_path(reservation.property) %> Reservation</h2>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3>Status: <span class="label-status"><%= reservation.status %></span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="reservation-block">
        <h4>Reservation Details</h4>
        <h5>Length of Stay: <span class="text"><%= reservation.duration.floor %> days</span></h5>
        <h5>From: <span class="text"><%= reservation.pretty_start_date %></span></h5>
        <h5>To: <span class="text"><%= reservation.pretty_end_date %></span></h5>
        <h5>Total Cost: <span class="text"><%= number_to_currency(reservation.total) %></span></h5>
        <h5>Reserved on: <span class="text"><%= reservation.created_at.strftime("%B %d, %Y at %l:%M %P") %></span></h5>
        <hr>
        <% if reservation.may_cancel? %>
          <%= button_to reservation_path(reservation), method: :put, value: "#{reservation.property.id}", class: "btn btn-default", name: "cancel" do %>
          <span>Cancel Reservation</span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-7">
      <div class="reservation-block">
        <h4>Property Details</h4>
        <h5>Location: <span class="text"><%= reservation.property.location %></span></h5>
        <h5>Category: <span class="text"><%= reservation.property.category.name %></span></h5>
        <h5>Description: <span class="text"><%= reservation.property.description %></span></h5>
        <div class="row">
          <% reservation.property.photos.each do |photo| %>
            <div class="col-md-3">
              <%= image_tag(photo.image_file_name, class:"img-thumb") %>
            </div>
          <% end %>
        </div>
        <hr>
        <%= link_to "View full property detail", property_path(reservation.property) %>
     </div>
    </div>
  </div>
<% end %>
