<div class="container">
  <h1>Your <%= link_to reservation.property.title, property_path(reservation.property) %> Reservation</h1>
  <h2></h2>
  <h3>Status: <%= reservation.status %></h3>
  <h5>Location: <%= reservation.property.location %></h5>
  <h5>Category: <%= reservation.property.category.name %></h5>
  <h5>Description: <%= reservation.property.description %></h5>
  <h5>From <%= reservation.pretty_start_date %> to <%= reservation.pretty_end_date %></h5>
  <h5>Length of Stay: <%= reservation.duration.floor %> days</h5>
  <h5>Total: <%= number_to_currency(reservation.total) %></h5>

  <% unless reservation.cancelled? %>
    <%= button_to reservation_path(reservation), method: :put, value: "#{reservation.property.id}", class: "btn btn-default", name: "cancel" do %>
      <span>Cancel Reservation</span>
    <% end %>
  <% end %>
  <h5>Reserved on <%= reservation.created_at.strftime("%B %d, %Y at %l:%M %P") %></h5>
  <h5>Last updated on <%= reservation.updated_at.strftime("%B %d, %Y at %l:%M %P") %></h5>
</div>
