
<div class="page-container-responsive">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-md-3 text-center">
          <%= image_tag "https://placekitten.com/g/95/95", class: "img-circle avatar" %>
        </div>
        <div class="col-md-9">
          <h3><%= @property.title %></h3>
          <div class="text-muted property-location"><%= @property.location %></div>
          <div class="row row-condensed text-muted text-center">
            <div class="col-sm-2"><i class="fa fa-home details-img"></i></div>
            <div class="col-sm-2"><i class="fa fa-users details-img"></i></div>
            <div class="col-sm-2"><i class="fa fa-cutlery details-img"></i></div>
            <div class="col-sm-2"><i class="fa fa-usd details-img"></i></div>
            <% if @fave %>
              <div class="col-sm-2 on-wishlist" data-id="<%= @property.id %>"><i class="fa fa-heart details-img"></i></div>
            <% else %>
              <div class="col-sm-2 wishlist" data-id="<%= @property.id %>"><i class="fa fa-heart details-img"></i></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 text-muted text-center">
          <%= @property.user ? @property.user.name : "Cat"%><br>
          <span class="more-properties"><%= link_to "See my other properties", host_path(@property.user.slug, only_path: false) %></span>
        </div>
        <div class="col-md-9">
          <div class="row row-condensed text-muted text-center">
            <div class="col-sm-2"><%= @property.category.name %></div>
            <div class="col-sm-2"><%= @property.occupancy %></div>
            <div class="col-sm-2"><%= @property.bathroom %></div>
            <div class="col-sm-2"><%= number_to_currency(@property.daily_rate) %></div>
            <% if @fave %>
              <div class="col-sm-2 wishlist-text" data-id="<%= @property.id %>">Remove from Wishlist</div>
            <% else %>
              <div class="col-sm-2 wishlist-text" data-id="<%= @property.id %>">Add to Wishlist</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if !@property.retired? %>
      <div class="col-lg-4">
        <%= form_tag  "/properties/#{@property.id}/add_to_cart", method: :post do %>
          <h3 class='text-center'>Select Dates</h3>
          <div class="input-group datepicker">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" name="property[reservation]" id="reservation" class="form-control"/>
          </div>
          <%= submit_tag "Request Reservation", class: "btn btn-default form-control", id: "request-reservation" %>
        <% end %>
        <% if current_user == @property.user || @property.user.partners.include?(current_user) %>
           <br><%= link_to "Manage Photos", property_photos_path(@property), class: "btn btn-default form-control" %>
          <br><%= link_to "Add Photo", new_property_photo_path(@property), class: "btn btn-default form-control" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
