<% if current_user.admin? %>
  <div class="btn-group btn-group-justified role-filters col-md-offset-3" role="group">
    <a class="btn btn-default" href="<%= admin_orders_path %>">All</a>
    <a class="btn btn-default" href="<%= ordered_admin_orders_path %>">Ordered</a>
    <a class="btn btn-default" href="<%= paid_admin_orders_path %>">Paid</a>
    <a class="btn btn-default" href="<%= completed_admin_orders_path %>">Completed</a>
    <a class="btn btn-default" href="<%= cancelled_admin_orders_path %>">Cancelled</a>
  </div>
<% end %>

<div class="edit-form">
  <table class="table table-hover">
    <thead>
      <th>Date</th>
      <% if current_user.admin? %>
        <th>User (id)</th>
      <% end %>
      <th>Total</th>
      <th>Status</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr class="order order_<%= order.id %>">
        <% if current_user.admin? %>
          <td class="date"><%= link_to order.updated_at, admin_order_path(order) %></td>
          <td class="user"><%= link_to "#{order.user.name} (#{order.user.id})", user_path(order.user) %></td>
        <% else %>
          <td class="date"><%= link_to order.updated_at, order_path(order) %></td>
        <% end %>
        <td class="total">$<%= order.total %></td>
        <td class="status"><%= order.status %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <% if order.ordered? %>
                <li><%= link_to "Mark as paid", pay_admin_order_path(order), method: :put %></li>
              <% elsif order.paid? %>
                <li><%= link_to "Mark as completed", complete_admin_order_path(order), method: :put %></li>
              <% else %>
                <li><a>[None]</a></li>
              <% end %>

              <% if order.ordered? || order.paid? %>
                <li><%= link_to "Cancel Order", cancel_admin_order_path(order), method: :put %></li>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
