<div class="edit-form">
  <h4>Order ID: <%= @order.id %></br>
    Customer Name: <%= @order.user.name %><br>
    Email: <%= @order.user.email_address %><br>
    <% if @order.address %>
      Address: <%= @order.address %><br>
    <% end %>
  <% if @order.editable? %>
    <%= render :partial => 'partials/pending_order', locals: {order: @order} %>
  <% else %>
    <%= render :partial => 'partials/completed_order', locals: {order: @order} %>
  <% end %>  
</div>
