<div class="container">
  <div class="col-lg-3">
    <div class="text-center">
      <%= image_tag "https://placekitten.com/g/1280/768", class: "img-circle avatar" %>
      <h4><%= @user.name %></h4>
      <p><%= @user.email_address %></p>
    </div>
    <h4>Username: <%= @user.display_name %></h4>
    <h4>Custom URL: <%= link_to "#{@user.host_slug}", "/hosts/#{@user.host_slug}"  %></h4>
    <h4>About Me:</h4>
    <p><%= @user.description %></p>
    <h4>Address:</h4>
    <%= @user.address.line_1 %><br>
    <%= @user.address.line_2 %><br>
    <%= @user.address.city %>, <%= @user.address.state %> <%= @user.address.zip %><br>
    <%= @user.address.country %><br>
    <h4>Accepted Payment Types: </h4>
    <ul>
      <% @user.accepted_payments.each do |payment| %>
        <li><%= payment %></li>
      <% end %>
    </ul>
    <% if @user == current_user %>
      <%= link_to "Edit", edit_user_path(current_user), class: "btn btn-default edit_button"%>
    <% end %>
  </div>

  <div class="col-lg-9">
    <h1>My Properties</h1>
    <%= link_to "Add a new property", new_property_path, class: "btn btn-default"%>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Property name</td>
          <td>Category</td>
          <td>Daily rate</td>
          <td>Location</td>
          <td>Status</td>
          <td></td>
        </tr>
    <% @user.properties.each do |property| %>
      </thead>
      <tbody>
      <tr>
        <td><%= property.title %></td>
        <td><%= property.category.name %></td>
        <td>$<%= property.price/100 %></td>
        <td><%= property.location %></td>
        <td><% if property.retired? %>Retired<% else %>Active<% end %></td>
        <td><%= link_to "Edit", edit_property_path(property) %></td>
      </tr>
      </tbody>
    <% end %>
  </table>
  </div>
</div>
