<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-primary profile-block">
        <div class="text-center">
          <%= image_tag "https://placekitten.com/g/1280/768", class: "img-circle avatar" %>
          <h4><%= @user.name %></h4>
          <hr>
          <% if @user == current_user %>
            <%= link_to "Edit My Profile", edit_user_path(current_user), class: "btn btn-default edit_button"%>

        <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="profile-block">
        <h4>User Info</h4>
        <h5>Email Address:</h5> <%= @user.email_address %></h5>
      </div>
    </div>

    <div class="col-md-3">
      <div class="profile-block">
        <h4>Address Info</h4>
        <%= @user.address.line_1 %><br>
        <%= @user.address.line_2 %><br>
        <%= @user.address.city %>, <%= @user.address.state %><br>
        <%= @user.address.zip %><br>
        <%= @user.address.country %><br>
      </div>
    </div>

