<div class="row">
<%= form_for(@property) do |f| %>
  <% hidden_field_tag(:user_id, current_user.id) %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <div class="listing">
    <h4>Property Info</h4>
      <div class="form-group">
        <%= f.label :title, "Property title" %>
        <%= f.text_field :title, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :occupancy, "Maximum Occupancy" %>
        <%= f.text_field :occupancy, class: "form-control" %>
      </div>
        <%= f.label "Private Bathroom?" %>
        <%= f.check_box :bathroom_private  %>
        <hr>
      <div class="form-group">
          <%= f.label :category %>
          <%= f.select(:category_id, options_for_select(@categories)) %>
      </div>
      <% unless @property.new_record? %>
        <hr>
        <%= f.check_box(:retired) %>
        <%= f.label :retired %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="listing">
    <h4>Address Info</h4>
      <%= f.fields_for :address_attributes, @property.address do |address_field| %>
      <div class="form-group">
        <%= address_field.label "Line 1" %><br>
        <%= address_field.text_field :line_1, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= address_field.label "Line 2" %><br>
        <%= address_field.text_field :line_2, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= address_field.label "City" %><br>
        <%= address_field.text_field :city, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= address_field.label "State" %><br>
        <%= address_field.text_field :state, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= address_field.label "Zip" %><br>
        <%= address_field.text_field :zip, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= address_field.label "Country" %><br>
        <%= address_field.text_field :country, class: "form-control" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= f.submit class: "btn btn-default big-boy" %>
  </div>
</div>
<% end %>
