<div class="thumbnail col-sm-6 col-md-4">
  <%= image_tag @property.image.url(:medium) %>
  <div class="caption">
    <h3><%= @property.title %></h3>
    <p><%= @property.description %></p>
    <p id="price"> Price: <%= number_to_currency(@property.price) %></p>
    <p>Category: <%= @property.category.name %></p>
    <p>Maximum Occupancy: <%= @property.occupancy %></p>
    <p>Location: <%= @property.address.city %></p>
    <p>Bathroom: <%= @property.bathroom %></p>
    <p>Booked Dates: </p>
    <ul>
      <% @property.reservations.each do |reservation| %>
        <li><%= reservation.start_date.strftime("%B %d, %Y") %> to <%= reservation.end_date.strftime("%B %d, %Y") %></li>
      <% end %>
    </ul>
    <% if !@property.retired? %>
      <p><%= link_to "Add to Cart", cart_properties_path(property: @property), method: :post, class: "btn btn-default add-to-cart", role: "button" %></p>
    <% end %>
  </div>
</div>
