<h1>Your guests</h1>
<h3>Upcoming</h3>
<div class="edit-form">
  <table class="table table-hover">
    <thead>
      <th><h4>Property</h4></th>
      <th><h4>Location</h4></th>
      <th><h4>Who wants this shit</h4></th>
      <th><h4>Dates</h4></th>
      <th><h4>Total Cost</h4></th>
      <th><h4>Status</h4></th>
    </thead>
    <tbody>
    <% @reservations.upcoming.each do |reservation| %>
      <tr class="upcoming reservation reservation_<%= reservation.id %>">
        <td><h5><%= link_to reservation.property.title, reservation_path(reservation) %></h5></td>
        <td><h5><%= reservation.property.location %></h5></td>
        <td><h5><%= reservation.user.name %></h5></td>
        <td><h5><%= reservation.start_date.strftime("%B %d, %Y")  %> to <%= reservation.end_date.strftime("%B %d, %Y")  %> </h5></td>
        <td><h5><%= number_to_currency(reservation.total) %></h5></td>
        <td><h5><%= reservation.status %></h5></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<h3>Completed</h3>
<div class="edit-form">
  <table class="table table-hover">
    <thead>
      <th><h4>Property</h4></th>
      <th><h4>Location</h4></th>
      <th><h4>Who wants this shit</h4></th>
      <th><h4>Dates</h4></th>
      <th><h4>Total</h4></th>
      <th><h4>Status</h4></th>
    </thead>
    <tbody>
    <% @reservations.completed.each do |reservation| %>
      <tr class="completed reservation reservation_<%= reservation.id %>">
        <td><h5><%= link_to reservation.property.title, reservation_path(reservation) %></h5></td>
        <td><h5><%= reservation.property.location %></h5></td>
        <td><h5><%= reservation.user.name %></h5></td>
        <td><h5><%= reservation.start_date.strftime("%B %d, %Y")  %> to <%= reservation.end_date.strftime("%B %d, %Y")  %> </h5></td>
        <td><h5><%= number_to_currency(reservation.total) %></h5></td>
        <td><h5><%= reservation.status %></h5></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
