<% cache @reservations do %>
  <div class="functional-header">
  <header class="profile-menu">
      <div class="row">
        <div class="col-md-8">
          <div class="profile-header brand-box">
            <h1 class="profile-header brand-heading">My <span>Guests</span><h1>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="container">
    <div class="row">
      <% if @reservations.empty? %>
        <div class="col-md-12">
          <h2>No one has rented your sad, sad properties<h2>
            </div>
      <% else %>
        <div class="col-md-12">
        <h3>Upcoming</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Property</th>
              <th>Location</th>
              <th>Guest Name</th>
              <th>Dates</th>
              <th>Total Cost</th>
              <th>Status</th>
              <th>Update</th>
            </tr>
          </thead>
          <tbody>
          <% @reservations.upcoming.each do |reservation| %>
            <% cache reservation do %>
              <tr class="upcoming reservation reservation_<%= reservation.id %>">
                <td><%= link_to reservation.property.title, reservation_path(reservation) %></td>
                <td><%= reservation.property.location %></td>
                <td><%= reservation.user.name %></td>
                <td><%= reservation.pretty_start_date  %> to <%= reservation.pretty_end_date  %> </td>
                <td><%= number_to_currency(reservation.total) %></td>
                <td class="label-status"><%= reservation.status %></td>
                <td>
                  <% unless reservation.state_buttons.empty? %>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Actions <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><% reservation.state_buttons.each do |button| %>
                          <%= button_to(button, reservation_path(reservation), method: :put, name: button, class: "btn") %>
                          <% end %></li>
                      </ul>
                    </div>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

      <div class="col-md-12">
      <h3>Completed</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Property</th>
              <th>Location</th>
              <th>Guest Name</th>
              <th>Dates</th>
              <th>Total</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          <% @reservations.completed.each do |reservation| %>
            <tr class="completed reservation reservation_<%= reservation.id %>">
              <td><%= link_to reservation.property.title, reservation_path(reservation) %></td>
              <td><%= reservation.property.location %></td>
              <td><%= reservation.user.name %></td>
              <td><%= reservation.pretty_start_date  %> to <%= reservation.pretty_end_date  %> </td>
              <td><%= number_to_currency(reservation.total) %></td>
              <td class="label-status"><%= reservation.status %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-md-12">
      <h3>Cancelled or Denied</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Property</th>
              <th>Location</th>
              <th>Guest Name</th>
              <th>Dates</th>
              <th>Total</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          <% @reservations.denied_or_cancelled.each do |reservation| %>
            <tr class="completed reservation reservation_<%= reservation.id %>">
          <td><%= link_to reservation.property.title, reservation_path(reservation) %></td>
          <td><%= reservation.property.location %></td>
          <td><%= reservation.user.name %></td>
          <td><%= reservation.pretty_start_date %> to <%= reservation.pretty_end_date  %></td>
          <td><%= number_to_currency(reservation.total) %></td>
          <td class="label-status"><%= reservation.status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
<% end %>
