<div id="item-edit-form">
  <table class="table table-hover">
    <thead>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </thead>
    <tbody>
      <% @cart.each do |item| %>
      <tr class="cart_item cart_item_<%= item.id %>">
        <td class="title"><%= item.title %></td>
        <td class="price">$<%= item.price %></td>
        <td class="quantity">
          <%= button_to cart_item_path(id: item), method: :put, class: "btn btn-xs quantity" do %>
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          <% end %>
          <span class="quantity"><%= item.quantity %></span>
          <%= button_to cart_item_path(id: item), method: :put, class: "btn btn-xs quantity" do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <% end %>
        </td>
        <td class="subtotal">$<%= @cart.subtotal(item) %></td>
        <td> <%= button_to "Remove", cart_item_path(id: item), method: :delete %> </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total: $<%= @cart.total_cost %></td>
      </tr>
    </tfoot>
  </table>

  <div class="checkout-button">
    <% if current_user %>
    <%= link_to "Checkout", @cart.order, method: :put, class: 'btn btn-default' %>
    <% else %>
    <span class="notice login-checkout">You must be logged in to place an order.</span>
    <% end %>
  </div>
</div>
