<div class="col-md-4 col-md-offset-5">
  <% if @cart.total_properties == 0 %>
    <span class="notice empty-cart">Your cart is empty</span>
  <% end %>
</div>
<div class="edit-form">
  <table class="table table-hover">
    <thead>
      <th>Property</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </thead>
    <tbody>
      <% @cart.each do |property| %>
      <tr class="cart_property cart_property_<%= property.id %>">
        <td class="title"><%= property.title %></td>
        <td class="daily_rate">$<%= number_to_currency(property.daily_rate) %></td>
        <td class="quantity">
          <%= button_to cart_property_path(property), method: :put, class: "btn btn-xs decrease float_left", name: "decrease" do %>
            <span class="glyphicon glyphicon-minus"></span>
          <% end %>
          <div class="float_left"><%= property.quantity %></div>
          <%= button_to cart_property_path(property), method: :put, class: "btn btn-xs increase float_left", name: "increase" do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </td>
        <td class="subtotal">$<%= @cart.subtotal(property) %></td>
        <td> <%= button_to "Remove", cart_property_path(id: property), method: :delete %> </td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total: $<%= @cart.total_cost %></td>
      </tr>
    </tfoot>
  </table>

  <div class="checkout-button">
    <% if current_user %>
    <%= link_to "Checkout", edit_reservation_path(@cart.reservation), class: 'btn btn-default' %>
    <% else %>
    <%= link_to "Checkout", login_path, class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
