<div class="thumbnail col-sm-6 col-md-4">
  <%= image_tag @item.image.url(:medium) %>
  <div class="caption">
    <h3><%= @item.title %></h3>
    <p><%= @item.description %></p>
    <p id="price"> Price:$<%= @item.price %></p>
    <% if !@item.retired? %>
      <p><%= link_to "Add to Cart", cart_items_path(item: @item), method: :post, class: "btn btn-default add-to-cart", role: "button" %></p>
    <% end %>

  </div>
</div>
