<%= form_for [@property, @photo] do |f| %>
  <% hidden_field_tag(:property_id, @property.id) %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% unless f.object.new_record? %>
      <%= image_tag f.object.image_file_name %>
    <% end %><br>
    <%= f.text_field :image_file_name %>
    <%= f.check_box :primary %>
    <%= f.label :make_primary %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default nav-link" %>
  </div>

<% end %>
