<!DOCTYPE html>
<html>
  <head>
    <title>HomeAway</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favi.ico' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/notices' %>
    <%= render partial: 'partials/navbar' %>
    <%= yield %>
  </body>
</html>
