<!DOCTYPE html>
<html>
  <head>
    <title>TravelHome</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favi.ico' %>
    <%= csrf_meta_tags %>
    <% unless @host_request_amount.nil? || @host_request_amount.zero? %>
      <link rel="stylesheet" href="//cdn.jsdelivr.net/clippy.js/1.0/clippy.min.css">
    <% end %>
  </head>
  <body>
    <%= render 'layouts/notices' %>
    <%= render partial: 'partials/navbar' %>
    <%= yield %>
  </body>
  <% unless @host_request_amount.nil? || @host_request_amount.zero? %>
    <%= render partial: "partials/clippy" %>
  <% end %>
</html>
