<!DOCTYPE html>
<html>
<head>
  <title>DinnerDash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class= "container-fluid" id="background"></div>

  <!-- <div class="container-fluid head-banner"> -->
  <div class="head-banner">
   <div class="row">
     <img src="<%= image_path('lodgephotoshop3.jpg') %>" alt="lodge photo" class="img-responsive">
   </div>
   <%= render :partial => "partials/navbar" %>
  </div>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <%= yield %>
</body>


</html>
